{% extends 'base.html' %} {% block body %}
<h1>Digital Product Management - Web Form Template</h1>
<hr />
<head> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<main>
  <form action="/add" method="POST">
    <div>
      <label for="first-name">First name:</label>
      <input type="text" id="first-name" name="fname" />
    </div>


<h4>What is your favorite building on campus?</h4>
    <select name='classroom' id='building' class="form-select" aria-label="Default select example" required>
      <option selected>Select one of the following options</option>
      <option value="PBB">John Papa John Business Building</option>
      <option value="TH">Trowbridge Hall</option>
      <option value="PC">The Pomerantz Center</option>
    </select>

<p></p>

    <h4>Do you like to eat ice cream? Yes or No.</h4>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="icecream" id="ice-cream-yes" value="Yes">
      <label class="form-check-label" for="ice-cream-yes" value="yes">
        Yes
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="icecream" id="ice-cream-no" value="No">
      <label class="form-check-label" for="ice-cream-no" value="no">
        No
      </label>
    </div>

    <h4>Which of the following Hawkeye sports teams do you follow?</h4>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Football" id="for-football" name="sports">
      <label class="form-check-label" for="for-football" name="sports">
        Football
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Basketball" id="for-basketball" name="sports">
      <label class="form-check-label" for="for-basketball" name="sports">
        basketball
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Wrestling" id="for-wrestling" name="sports">
      <label class="form-check-label" for="for-wrestling" name="sports">
        Wrestling
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Gymnatics" id="for-gymnastics" name="sports">
      <label class="form-check-label" for="for-gymnastics" name="sports">
        Gymnastics
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Baseball" id="for-baseball" name="sports">
      <label class="form-check-label" for="for-baseball" name="sports">
        Baseball
      </label>
    </div>
  
    <p></p>

    <div><input type="submit" class="btn btn-primary" id="submit" value="Submit" /></div>
  </form>

  <br /><br />
  {% if friends %}
  <h3>Friend List</h3>
  <hr />
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Favorite Building</th>
        <th>Ice cream lover</th>
        <th>Favorite Hawkeye Sports</th>
      </tr>
    </thead>

    <tbody>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.name }}</td>
        <td>{{ friend.classroom }}</td>
        <td>{{ friend.icecream }}</td>
        <td>{{ friend.sports }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}
