{% extends 'base.html' %} {% block body %}
<h2>Digital Product Management - Web Form Template</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="first-name">First name:</label>
      <input type="text" id="first-name" name="fname" />
    </p>

    <p>
      <label for="building">
        Favorite classroom building at the University of Iowa:
        <select name="classroom" id="building" required>
          <option value="" selected>Choose one ...</option>
          <option value="tippie">John Papa John Business Building</option>
          <option value="trowbridge">Trowbridge Hall</option>
          <option value="pomerantz">Pomerantz Center</option>
        </select>
      </label>
    </p>
    <p>
      <label>Do you like to eat ice cream?</label>
      <label for="ice-cream-yes">
        <input
          type="radio"
          id="ice-cream-yes"
          name="icecream"
          value="yes"
          required="required"
        />
        Yes
      </label>

      <label for="ice-cream-no">
        <input
          type="radio"
          id="ice-cream-no"
          name="icecream"
          value="no"
          required="required"
        />
        No
      </label>
    </p>

    <fieldset>
      <legend>Choose your favorite Iowa Hawkeye sports teams</legend>
      <label for="for-football">
        <input
          type="checkbox"
          id="for-football"
          name="sports"
          value="football"
        />
        Football
      </label>

      <label for="for-basketball">
        <input
          type="checkbox"
          id="for-basketball"
          name="sports"
          value="basketball"
        />
        Basketball
      </label>

      <label for="for-wrestling">
        <input
          type="checkbox"
          id="for-wrestling"
          name="sports"
          value="wrestling"
        />
        Wrestling
      </label>

      <label for="for-baseball">
        <input
          type="checkbox"
          id="for-baseball"
          name="sports"
          value="baseball"
        />
        Baseball
      </label>

      <label for="for-gymnastics">
        <input
          type="checkbox"
          id="for-gymnastics"
          name="sports"
          value="gymnatics"
        />
        Gymnatics
      </label>
    </fieldset>

    <p><input type="submit" id="submit" value="Submit" /></p>
  </form>

  <br /><br />
  {% if friends %}
  <h3>Friend List</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Favorite Building</th>
        <th>Ice cream lover</th>
        <th>Favorite Hawkeye Sports</th>
      </tr>
    </thead>

    <tbody>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.name }}</td>
        <td>{{ friend.classroom }}</td>
        <td>{{ friend.icecream }}</td>
        <td>{{ friend.sports }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}
